:root {
    --col1: #48F;
    --col2: #FFF;
    --col3: #FE0;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    src: local('Monserrat'), url(/resources/Montserrat-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: local('Monserrat Bold'), url(/resources/Montserrat-Bold.otf) format("opentype");
}

a:link, a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    font-family: 'Montserrat';
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    background: var(--col1);
}

.content-wrapper {
    padding-bottom: 2rem;
}

h1, h2 {
    margin: 0;
    text-align: center;
    color: var(--col3);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

ul {
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 2rem;
    width: 100%;
    background-color: lightslategray;
    color: white;
}

.footer-item+.footer-item {
    margin-left: 1rem;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 10px auto;
    text-align: right;
}

.content-container {
    display: block;
    background-color: var(--col3);
    border-radius: 15px;
    padding: 20px;
}

.input-container {
    justify-content: center;
    align-items: center;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.input-item {
    width: inherit;
    min-width: 300px;
    padding: 3px;
}

.error-list {
    background-color: rgb(236, 93, 93);
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

button[type=submit] {
    padding: 0.8rem;
    font-size: 1.2rem;
}
